{
  "AdminRoles": {{ appformix_infrastructure_view_roles }},
  "AuthServerUrl": "{{ openstack_auth_url }}",
  "ConfigAdminRoles": {{ appformix_administrator_roles }},
  "ReadOnlyAdminRoles": {{ appformix_read_only_infrastructure_view_roles }},
  "ControllerIP": "{{ appformix_vip }}",
  "ControllerPort": "{{ appformix_vip_api_port_http }}",
  "ControllerSSLPort": "{{ appformix_vip_api_port_https }}",
  "DatamanagerIP": "{{ appformix_vip }}",
  "DatamanagerPort": "{{ appformix_vip_api_port_http }}",
  "DatamanagerSSLPort": "{{ appformix_vip_api_port_https }}",
  "EndpointOverrideUrl": "{{ appformix_keystone_endpoint_override_url }}",
  "NovaEndpointOverrideUrl": "{{ appformix_nova_endpoint_override_url }}",
  "NeutronEndpointOverrideUrl": "{{ appformix_neutron_endpoint_override_url }}",
  "CinderEndpointOverrideUrl": "{{ appformix_cinder_endpoint_override_url }}",
  "HeatEndpointOverrideUrl": "{{ appformix_heat_endpoint_override_url }}",
  "GlanceEndpointOverrideUrl": "{{ appformix_glance_endpoint_override_url }}",
  "EndpointType": "{{ openstack_endpoint_type }}",
  "InternalAPIPort": "{{ appformix_vip_api_port }}",
  "OpenstackAdapterIP": "{{ appformix_vip }}",
  "OpenstackAdapterPort": "{{ appformix_vip_api_port_http }}",
  "OpenstackAdapterSSLPort": "{{ appformix_vip_api_port_https }}",
  "OpenstackDomain": "{{ openstack_domain_name }}",
  "OpenstackPassword": "{{ openstack_password }}",
  "OpenstackProjectDomain": "{{ openstack_project_domain_name }}",
  "OpenstackTenant": "{{ openstack_tenant_name }}",
  "OpenstackUsername": "{{ openstack_username }}",
  "OpenstackUserDomain": "{{ openstack_user_domain_name }}",
  "SkipIPLookup": {{ appformix_use_hypervisor_hostname }},
  "SSLEnabled": {{ (appformix_ssl_enabled|bool) }},
  "VerboseMode": true
}
