{
  "NorthStarUsername": "{{ northstar_user_name }}",
  "NorthStarPassword": "{{ northstar_password }}",
  "NorthStarControllerURL": "{{ northstar_controller_url }}",
  "TenantId": "{{ northstar_tenant_id }}",
  "TopologyId": "{{ northstar_topology_id }}"
}
